<template>
    <div class="form-inline form-inline-group no-gutter">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        props: {
            noGutter: {
                default: true,
                type: Boolean
            }
        },
        computed: {
        }
    }
</script>

<style lang="scss">

    .form-inline-group {
        & > .align-items-center:first-child .form-control {
            border-radius: 0;
        }

        & > .align-items-center:not(:first-child) {
            .form-control,
            .input-group-text {
                border-radius: 0;
                border-left: none;
            }
        }

        & > .align-items-center:last-child .form-control {
            border-radius: 0 .25rem .25rem 0;
        }

        & > .col, .form-row > [class*="col-"] {
            padding: 0;
        }
    }
</style>