@import "../colors/amber";
@import "../colors/blue-light";
@import "../colors/cyan";
@import "../colors/gray";
@import "../colors/gray-blue";
@import "../colors/green";
@import "../colors/green-light";
@import "../colors/orange";
@import "../colors/red";
@import "../colors/yellow";
@import "../colors/social-networks";

// stylelint-disable
$white: #fff;
$gray-100: $gray_10;
$gray-200: $gray_20;
$gray-300: $gray_30;
$gray-400: $gray_40;
$gray-500: $gray_50;
$gray-600: $gray_60;
$gray-700: $gray_70;
$gray-800: $gray_80;
$gray-900: $gray_90;
$black: #000;

$blue:    $blue-light_50;
$red:     $red_50;
$orange:  $amber_50;
$yellow:  $yellow_50;
$green:   $green-light_50;
$cyan:    #17a2b8 !default;

$primary:             #2a3944;
$secondary:           $gray-600;
$brand-secondary:     #bc9264;

$success:       $green;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$text-color:    #2a3944;

// Body
$body-bg: $white;

// Typography
$font-family-sans-serif: "Viato Corp", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes: true;
$enable-print-styles: true;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1440px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 768px,
        md: 980px,
        lg: 1200px,
        xl: 1470px
);

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               .3rem;
$border-radius-lg:            .4rem;
$border-radius-sm:            .2.5rem;

// CoreUI variables override
$main-padding: 1.8rem;

$navbar-height:                     70px;
$navbar-brand-width:                280px;

$navbar-bg:                         $white;
$navbar-brand-bg:                   #AF9D75;

// Sidebar Navigation

$sidebar-nav-color:                   $white;
$sidebar-nav-title-padding-y:         .5rem;
$sidebar-nav-title-padding-x:         1rem;
$sidebar-nav-title-color:             $white;
$sidebar-nav-link-padding-y:          .5rem;
$sidebar-nav-link-padding-x:          1rem !default;
$sidebar-nav-link-color:              #fff !default;
$sidebar-nav-link-bg:                 transparent !default;
$sidebar-nav-link-icon-color:         $gray-600 !default;
$sidebar-nav-link-borders:            0 !default;
$sidebar-minimizer-bg:                rgba($primary,.2) !default;
$sidebar-nav-link-line-height:        1.2rem;

$sidebar-nav-title-bg:                $navbar-brand-bg;

// Sidebar
$sidebar-width:                     $navbar-brand-width;

$sidebar-bg:                        #E4CE9A;
$sidebar-color:                     $black;
$sidebar-nav-link-color:            $text-color;
$sidebar-nav-link-active-color:     $white;
$sidebar-nav-link-active-icon-color: $sidebar-nav-link-active-color;
$sidebar-nav-link-active-bg:        $primary;
$sidebar-nav-title-color:           $gray-500;
$sidebar-minimizer-bg:              $gray-100;

$sidebar-nav-dropdown-bg:           $gray-100;
$sidebar-nav-dropdown-color:        $text-color;

// Header
$header-bg-dark: #2a3944;
$footer-color: $white;
$header-navbar-font-size: 1.2rem;

// Footer
$footer-bg: #2a3944;
$footer-color: $white;

// Breadcrumb
$breadcrumb-divider:  ""
