.roofs {
    &_rals {

        $rals: (
            RAL-1014: #fcebcc,
            RAL-1015: #f0d6ab,
            RAL-1018: #ffd64d,
            RAL-8004: #8e402a,
            RAL-3003: #8a1214,
            RAL-3011: #781417,
            RAL-3009: #5e2121,
            RAL-3005: #4f121a,
            RAL-8017: #2e1c1c,
            RAL-9002: #f0ede6,
            RAL-9006: #a6abb5,
            RAL-7004: #303845,
            RAL-5002: #000f75,
            RAL-5005: #002e7a,
            RAL-6019: #bfe3ba,
            RAL-5021: #1a7a63,
            RAL-6002: #265721,
            RAL-6005: #0a381f,
            RAL-6026: #0a381f,
            RAL-8019: #403A3A,
            RR-32: #372E25,
            RAL-9003: #ffffff,
        );


        @each $ral, $color in $rals {
            &-#{$ral} {
                background: $color;
                color: color-yiq($color);
            }
        }

        &_columns {
            flex-wrap: wrap;
            max-height: 440px;
            margin: 0 0 0 -40px;
            display: flex;
            flex-direction: column;
            list-style: none;
            li {
                display: block;
                width: 33%;
                padding: 15px;
                line-height: 1;
                //border: 1px solid $border-color;
                flex: 1 1 30%;

                @include media-breakpoint-down(lg) {
                    padding: 10px;
                }
            }
        }
    }
}
