<template>
    <div>
        <form-commercial></form-commercial>
    </div>
</template>

<script>
    import FormCommercial from './../Forms/Commercial'

    export default {
        components: {
            FormCommercial
        }
    }
</script>
