<template>
    <div>
        <form-flats :build-form-data="$store.state.buildFormData"></form-flats>
    </div>
</template>

<script>
    import FormFlats from './../Forms/Flats'

    export default {
        components: {
            FormFlats
        },
        data() {
            return {
                buildFormData: null
            }
        },
        props: {
            category: {
                default: 'category',
            }
        },
        beforeMount() {
        }
    }
</script>
