<template>
    <div>
        <form-garages></form-garages>
    </div>
</template>

<script>
    import FormGarages from './../Forms/Garages'

    export default {
        components: {
            FormGarages
        }
    }
</script>
