.goods {


    &_summary {
        &-list {
            list-style: none;
            line-height: 1.8;
            li {
                margin-left: -40px;
            }
        }

        &_row {
            display: flex;
            position: relative;
            flex-wrap: nowrap;
            justify-content: space-between;

            &::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                content: "";
                bottom: 50%;
                border-bottom: 1px dotted $text-color;
            }
        }

        &-small {
            font-size: .8rem;
        }

        &_title {
            z-index: 9;
            background: $white;
            padding-right: .5em;
        }
        &_value {
            z-index: 9;
            background: $white;
            padding-left: .5em;
        }
    }

    &_price {
        line-height: 1.2;

        &_title {
            display: block;
            font-size: 1rem;
        }
        &_cost {
            display: block;
            font-size: 2.25rem;
            font-weight: bold;

            &-md{
                font-size: 1.31rem;
            }

            .fas {
                font-size: .7em;
            }
        }

        &_description {
            font-size: .8rem;
        }
    }
}
