&_card{
    .card-heading{
        text-align: center;
        font-family: "Roboto Condensed";
        font-weight: bold;
        text-transform: uppercase;
        @include box-shadow(0 5px 10px 0 transparentize($black, .8));
        padding: .3rem;
    }

    &_photo{
        margin: 0 auto;
        width: 110px;
        height: 110px;
        img{
            border-radius: 50%;
        }
    }

    &_positionName{
        font-family: "Roboto Condensed";
        font-size: 0.75rem;
        font-weight: bold;
        text-align: center;
    }

    &_name{
        font-family: "Roboto Condensed";
        text-align: center;
    }

}