<template>
    <div class="card">
        <form @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-2" v-if="goods">
                            <div class="row no-gutter align-items-center">
                                <div class="col-md-3 col-lg-2" v-if="goods.photo_preview">
                                    <img :src="goods.photo_preview.thumb " alt="" class="img-fluid">
                                </div>
                                <div class="col-md-9 col-lg-10">
                                    <h5 class="card-title text-bold my-1">
                                        {{ goods.is_rent ? 'Арендовать' : 'Заказать'}} «{{ goods.name }}»
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-user"></i></div>
                            </div>
                            <input
                                    v-model="form.firstname"
                                    :class="inputClass('firstname')"
                                    type="text"
                                    placeholder="Вашe имя*">
                        </div>
                        <small class="form-text text-danger" v-text="form.errors.get('firstname')"></small>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="far fa-envelope"></i></div>
                            </div>
                            <input v-model="form.email" type="text" class="form-control" placeholder="Ваш email*">
                        </div>
                        <small class="form-text text-danger" v-text="form.errors.get('email')"></small>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-phone-alt"></i></div>
                            </div>
                            <masked-input v-model="form.phone"
                                          mask="\+\7 (111) 111-11-11"
                                          :class="inputClass('phone')"
                                          type="tel"
                                          placeholder="Номер телефона*"/>
                        </div>
                        <small class="form-text text-danger" v-text="form.errors.get('phone')"></small>

                        <textarea v-model="form.note" cols="30" rows="3" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer">

                <input type="submit" class="btn btn-success float-left" value="Оставить заявку"
                       :disabled="form.errors.any()">
                <a href="#" class="btn btn-outline-dark ml-3" @click.prevent="onCancel">
                    Отмена
                </a>
            </div>
        </form>

    </div>
</template>

<script>
    import Asset from "Core/Asset"
    import Form from "Core/Form"

    import FormMixin from 'Components/Mixins/FormMixin'
    import MaskedInput from 'vue-masked-input'

    export default {
        mixins: [
            FormMixin,
        ],
        components: {
            MaskedInput
        },
        data() {
            return {
                goods: this.$attrs.props,
                form: new Form({
                    firstname: '',
                    email: '',
                    phone: '',
                    note: '',
                })
            }
        },
        methods: {
            onSubmit() {
                this.form.submit('post',  `/api/trade/orders/add/${this.goods.id}`)
                    .then((response) => {
                        // this.form = new Form(response.data);
                        flash(response.message, 'success');
                        this.$emit('close');
                    })
                    .catch(errors => {
                        flash(errors.message, 'error');
                    });
            },

            onCancel() {
                this.$emit('close')
            }
        }
    }
</script>
