.breadcrumb {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: $white;
    border: 1px solid $border-color;
    padding: 0.5rem 1rem;

    a {
        color: $text-color;
    }

    .item {
        white-space: nowrap;
    }

    .fas {
        font-size: .7em;
        color: $gray-600;
    }

    .breadcrumb-item + .breadcrumb-item {
        &::before {
            //display: none !important;
        }
    }

    &-swiper {
        .swiper-slide {
            width: auto !important;
            //display: flex;
            //align-items: center;
            //justify-content: center;
        }
    }
}
