.icon{
    &_phone{
        display: inline-block;
        vertical-align: middle;
        background: url("../../images/icons/phone_icon.svg");
        width: 40px;
        height: 40px;
    }

    &_lawnProduction{
        background: url("../../images/icons/service_lawn_production_icon.svg") no-repeat;
        margin: 0 auto;
        width: 160px;
        height: 60px;
    }

    &_slicingLawn{
        background: url("../../images/icons/service_slicing_lawn_icon.svg") no-repeat;
        margin: 0 auto;
        width: 82px;
        height: 60px;
    }
}
