.navbar{
    &-mainMenu{
        padding: 0;

        .navbar-toggler{
            margin: 0 auto;
        }

        .navbar-nav{
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
        }

        .nav-item{
            width: 100%;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-between;
            text-align: center;
            padding: 0 .2rem;

            &.active{
                position: relative;

                &::before{
                    display: block;
                    position: absolute;
                    bottom: 5px;
                    content: "";
                    width: 80%;
                    height: 2px;
                    background: $white;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                }

                > a,
                > .dropdown-toggle{
                    color: $white !important;
                }
            }

            &::after{
                display: block;
                position: absolute;
                top: 25%;
                content: "";
                width: 1px;
                height: 50%;
                background: $white;
            }

            &:first-child {
                &::after {
                    display: none;
                }
            }

            &.show{
                @include box-shadow($dropdown-box-shadow);
            }
        }

        .dropdown-menu{
            width: 100%;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 0;
        }

        .nav-link{
            padding: .7rem;
            font-size: 1rem;
        }

        .nav-item.dropdown {
            > .nav-link{
                display: inline-block !important;
                padding-right: .8rem;
            }
            > .dropdown-toggle::after{
                margin: 0 .4rem;
            }
        }
    }

    &-adminPanel{
        display: block;
    }

    &-brand_text{
        font-family: "Roboto Condensed";
        line-height: 1;
        padding-left: 2rem;
        color: $gray-800;

        &-small{
            font-weight: lighter;
            font-size: 1.31rem;

            @include media-breakpoint-down(lg) {
                font-size: 1.31rem;
            }
        }

        &-large{
            font-weight: bold;
            font-size: 2rem;

            @include media-breakpoint-down(lg) {
                font-size: 1.5rem;
            }
        }
    }
}