.text{

    &-bold{
        font-weight: bold;
    }

    &-size {
        &-1 {
            font-size: 0.8rem;
        }
        &-2 {
            font-size: 1rem;
        }
        &-3 {
            font-size: 1.25rem;
        }
        &-4 {
            font-size: 2.25rem;
        }
        &-5 {
            font-size: 3.18rem;
        }
        &-6 {
            font-size: 4.5rem;
        }
    }

    &-line-height{
        &-1 {
            line-height: 0.8;
        }
        &-2 {
            line-height: 1;
        }
        &-3 {
            line-height: 1.5;
        }
        &-4 {
            line-height: 2;
        }
        &-5 {
            line-height: 2.5;
        }

    }
}
