$font-path: '../../../fonts/century-gothic';

@font-face {
    font-family: 'Century Gothic';
    src: url('#{$font-path}/GOTHIC.eot');
    src: url('#{$font-path}/GOTHIC.eot') format('embedded-opentype'),
         url('#{$font-path}/GOTHIC.woff2') format('woff2'),
         url('#{$font-path}/GOTHIC.woff') format('woff'),
         url('#{$font-path}/GOTHIC.ttf') format('truetype'),
         url('#{$font-path}/GOTHIC.svg#GOTHIC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('#{$font-path}/GOTHICB.eot');
    src: url('#{$font-path}/GOTHICB.eot') format('embedded-opentype'),
        url('#{$font-path}/GOTHICB.woff2') format('woff2'),
        url('#{$font-path}/GOTHICB.woff') format('woff'),
        url('#{$font-path}/GOTHICB.ttf') format('truetype'),
        url('#{$font-path}/GOTHICB.svg#GOTHICB') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('#{$font-path}/GOTHICBI.eot');
    src: url('#{$font-path}/GOTHICBI.eot') format('embedded-opentype'),
         url('#{$font-path}/GOTHICBI.woff2') format('woff2'),
         url('#{$font-path}/GOTHICBI.woff') format('woff'),
         url('#{$font-path}/GOTHICBI.ttf') format('truetype'),
         url('#{$font-path}/GOTHICBI.svg#GOTHICBI') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('#{$font-path}/GOTHICI.eot');
    src: url('#{$font-path}/GOTHICI.eot') format('embedded-opentype'),
         url('#{$font-path}/GOTHICI.woff2') format('woff2'),
         url('#{$font-path}/GOTHICI.woff') format('woff'),
         url('#{$font-path}/GOTHICI.ttf') format('truetype'),
         url('#{$font-path}/GOTHICI.svg#GOTHICI') format('svg');
    font-weight: normal;
    font-style: italic;
}

