@font-face {
    font-family: 'Viato Corp';
    src: url('../../../fonts/viato/ViatoCorp-Bold.eot');
    src: url('../../../fonts/viato/ViatoCorp-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/viato/ViatoCorp-Bold.woff2') format('woff2'),
    url('../../../fonts/viato/ViatoCorp-Bold.woff') format('woff'),
    url('../../../fonts/viato/ViatoCorp-Bold.ttf') format('truetype'),
    url('../../../fonts/viato/ViatoCorp-Bold.svg#ViatoCorp-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Viato Corp';
    src: url('../../../fonts/viato/ViatoCorp-BoldItalic.eot');
    src: url('../../../fonts/viato/ViatoCorp-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/viato/ViatoCorp-BoldItalic.woff2') format('woff2'),
    url('../../../fonts/viato/ViatoCorp-BoldItalic.woff') format('woff'),
    url('../../../fonts/viato/ViatoCorp-BoldItalic.ttf') format('truetype'),
    url('../../../fonts/viato/ViatoCorp-BoldItalic.svg#ViatoCorp-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Viato Corp';
    src: url('../../../fonts/viato/ViatoCorp-Italic.eot');
    src: url('../../../fonts/viato/ViatoCorp-Italic.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/viato/ViatoCorp-Italic.woff2') format('woff2'),
    url('../../../fonts/viato/ViatoCorp-Italic.woff') format('woff'),
    url('../../../fonts/viato/ViatoCorp-Italic.ttf') format('truetype'),
    url('../../../fonts/viato/ViatoCorp-Italic.svg#ViatoCorp-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Viato Corp';
    src: url('../../../fonts/viato/ViatoCorp-Regular.eot');
    src: url('../../../fonts/viato/ViatoCorp-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/viato/ViatoCorp-Regular.woff2') format('woff2'),
    url('../../../fonts/viato/ViatoCorp-Regular.woff') format('woff'),
    url('../../../fonts/viato/ViatoCorp-Regular.ttf') format('truetype'),
    url('../../../fonts/viato/ViatoCorp-Regular.svg#ViatoCorp-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
