<template>
    <div class="editorFiles">
        <upload-files :url="url" :field-name="fieldName" class="upload"></upload-files>
    </div>
</template>

<script>
    import Asset from 'Core/Asset'

    export default {
        components: {
        },

        props: {
            url: {
                default: '',
                type: String
            },
            fieldName: {
                default: 'file',
                type: String
            },
            maxFilesize: {
                default: 10,
                type: Number
            }
        },

        data(){
            return {
                file: {
                    name: '',
                    path: '',
                    type: ''
                }
            }
        },

        created(){
            events.$on('file-list:update', (file, xhr, formData) => this.getFiles(file, xhr, formData))
        },

        methods: {
            getFiles(file, xhr, formData){
                let key = file.lastModified;

                this.file = file;
                this.file.path = xhr.path;
                this.file.thumb = xhr.thumb;

                this.placeImage();
            },

            isImage(){
                return this.file.type === 'image/jpeg';
            },

            placeImage(){
                if(this.file.thumb){
                    parent.tinyMCE.EditorManager.activeEditor.insertContent(`
                        <a href="${this.file.path}" data-fancybox="gallery">
                            <img src="${this.file.thumb}" alt="${this.file.name}" class="img-fluid" >
                        </a>
                    `)
                } else {
                    parent.tinyMCE.EditorManager.activeEditor.insertContent(`
                        <a href="${this.file.path}" data-mime-type="${this.file.type}">${this.file.name}</a>
                    `)
                }

                parent.tinymce.activeEditor.windowManager.close();
            }
        }
    }

</script>

<style>
    .editorFiles .upload{
        width: 100%;
    }
</style>