<template>
    <div class="card">
        <form @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)" class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text"
                           v-model="form.name"
                           :class="inputClass('name')"
                           placeholder="Название периода">
                    <small class="form-text text-muted" v-text="form.errors.get('name')"></small>
                </div>

                <div class="form-group col-md-3">
                    <input type="number"
                           v-model="form.from"
                           :class="inputClass('from')"
                           placeholder="Начиная от">
                    <small class="form-text text-muted" v-text="form.errors.get('from')"></small>
                </div>
                <div class="form-group col-md-3">
                    <input type="number"
                           v-model="form.to"
                           :class="inputClass('to')"
                           placeholder="Заканчивая до">
                    <small class="form-text text-muted" v-text="form.errors.get('to')"></small>
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-rounded btn-block mt-2"
                   :disabled="form.errors.any()"
                   value="Отправить">
        </form>
    </div>
</template>

<script>
    import Form from 'Core/Form'
    import FormMixin from 'Components/Mixins/FormMixin'
    import MaskedInput from 'vue-masked-input'

    export default {
        mixins: [
            FormMixin,
        ],

        components: {
            MaskedInput
        },

        data() {
            return {
                form: new Form({
                    name: '',
                    from: '',
                    to: ''
                }),
            }
        },

        methods: {
            inputClass(field) {
                let $class = 'form-control';

                if (this.form.errors.get(field))
                    return `${$class} is-invalid`;

                return $class;
            },

            onSubmit() {
                this.form.submit('post', '/api/trade/prices/periods/')
                    .then((response) => {
                        this.form = new Form(response.data);
                        this.$emit('close');
                        events.$emit('setPeriod', response);
                    })
                    .catch(errors => {
                        flash(errors.message, 'error');
                    })
            },

            onCancel() {
                this.$emit('close')
            }
        }
    }

</script>