<template>
    <div>
        <a href="#" :class="btnClass" @click.prevent="addToCart()">
            {{ canBuy ? title : 'Нет в наличии'}}
        </a>
    </div>
</template>

<script>
    import Asset from 'Core/Asset'
    import OrderingFrom from 'Components/Trade/Orders/Forms/OrderingFrom'

    export default {

        data() {
            return {
                title: this.btnTitle
            }
        },

        props: {
            btnTitle: {
                type: String,
                default: 'Купить'
            },
            size: {
                type: String,
                default: null
            },
            goodsId: {
                type: Number,
                default: null
            },
            canBuy: {
                type: Boolean,
                default: false
            }
        },

        computed: {
            btnClass: function () {
                let btnClass = 'btn btn-block ';

                switch (this.size) {
                    case 'lg':
                        btnClass += 'btn-lg ';
                        break;
                    case 'sm':
                        btnClass += 'btn-sm ';
                        break;
                }

                btnClass += this.canBuy ? 'btn-danger' : 'btn-outline-dark';

                return btnClass;
            },

        },

        methods: {
            addToCart() {
                let title = this.title;

                this.title = 'Загрузка...';
                Asset.xhrResponseUrl('get', `/api/trade/orders/add/${this.goodsId}`)
                    .then((response) => {
                        this.getForm(response);
                        this.title = title;
                    });
            },

            getForm(item = null) {
                this.$modal.show(OrderingFrom,
                    {
                        props: item
                    },
                    {
                        draggable: true,
                        scrollable: true,
                        height: 'auto',
                        width: 700
                    })
            },
        }
    }
</script>

<style lang="scss">
    /*@import "scss/style";*/
</style>
