<template>
    <div>
        <card v-if="isLoaded">
            <template v-slot:header>
                <tabs :tabs="buildFormData.categories"></tabs>
            </template>

            <template v-slot:body>
                <router-view></router-view>
            </template>
        </card>
        <div v-else>
            Форма готовится
        </div>
    </div>
</template>

<script>
    import Asset from 'Core/Asset'
    import Card from './Components/Card'
    import Tabs from './Components/Tabs'

    export default {
        components: {
            Card,
            Tabs
        },
        data() {
            return {
                /** Данные для построение форму */
                buildFormData: {},

                /** Загружан ли компонент */
                isLoaded: false
            }
        },
        beforeMount() {
            Asset.xhrResponseUrl('get', this.$store.state.buildFormUrl)
                .then(response => {
                    this.$store.commit('buildFormData', response);
                    this.buildFormData = response;
                    this.isLoaded = true;
                })
        },

        computed: {

        }
    }
</script>
