&_card {
    position: relative;
    font-family: "Roboto Condensed";
    height: 100%;

    .card-title {
        position: relative;
        line-height: 1;
        margin-bottom: 0;
        font-family: "Roboto Condensed";
        height: 35px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &::after {
            display: block;
            position: absolute;
            height: 20px;
            width: 100%;
            bottom: 0;
            content: "";
            @include gradient-y(transparentize($white, .8), $white)
        }

        a {
            font-size: 1rem;
        }
    }
    .card-body {
        padding: .6rem;

        .realty_card_price {
            font-size: 1.1rem;
            font-weight: bold;
        }

        .realty_card_address {
            font-size: .87rem;
            color: $gray-600;
            line-height: 1.2;
        }
    }

    &_footer {
    }
}