.content {
    &_published{
        font-size: .8rem;
    }
    &_list {
        &_name {
            a {
                line-height: 1;
            }
        }
    }

    &_sidebar {
        position: sticky;
        top: 1rem;
        margin-top: -150px;
        @include media-breakpoint-down(sm) {
            margin-top: 0;
        }
    }

    &_introBlock {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        &-withSlider {
            &::before {
                display: block;
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .5);
            }

            .breadcrumb-item.active {
                color: $white;
            }

            .content_title,
            .content_name {
                font-weight: bold;
                color: white;
                padding: 0 2rem;
                padding-bottom: 2rem;
            }

            .content_slider {
                position: relative;
            }

            time {
                display: block;
                color: $white;
                padding: 1rem 2rem;
            }

            .card {
                padding-bottom: 125px;
            }
        }

        .swiper-container-horizontal {
            margin-bottom: 1rem;
        }

        .content_slider {
            .swiper-slide {
                @include box-shadow(0 1px 5px 0 rgba(0, 0, 0, .2));
            }
            .swiper-slide a {
                display: block;
                overflow: hidden;
            }
        }

        .card {
            border-radius: 0;
            border: none;
        }

        .breadcrumb {
            background: transparent;
            font-size: .8rem;
            padding: 1rem 0;
            flex-wrap: nowrap;
            &-item {
                display: inline-block;
                white-space: nowrap;

                &:last-child {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }

    &_fullTextBlock {
    }

    &_widget {
        &_aside {
            &_list {
                display: block;
                margin-left: -40px;
                line-height: 1;

                &_item{
                    font-family: "Roboto Condensed";
                    padding: 1rem 0;
                    display: block;
                    border-bottom: 1px solid $gray-300;

                    &:first-child{
                        padding-top: 0;
                    }

                    &:last-child{
                        padding-bottom: 0;
                        border: none;
                    }
                }
            }
        }
    }
}