.summary {
    &-list {
        list-style: none;
        line-height: 1.8;
        li {
            margin-left: -40px;
        }
    }

    &-column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &_row {
        display: flex;
        position: relative;
        flex-wrap: nowrap;
        justify-content: space-between;

        &::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            content: "";
            bottom: 50%;
            border-bottom: 1px dotted $text-color;
        }
    }

    &-small {
        font-size: .8rem;
    }

    &_title {
        z-index: 9;
        background: $white;
        padding-right: .5em;
    }
    &_value {
        z-index: 9;
        background: $white;
        padding-left: .5em;
    }
}
