<template>
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item"  v-for="tab in tabs">
            <router-link :to="tab.slug" class="nav-link" active-class="active">{{ tab.name }}</router-link>
        </li>
    </ul>
</template>

<script>
    export default {
        props: {
            tabs: {
                default: null,
                type: Array
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
