<template>
    <div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Название</label>
                <input id="name" type="text" class="form-control" v-model="form.name">
                <div class="form-text text-muted" v-text="form.errors.get('name')"></div>
            </div>

            <div class="form-group col-md-2">
                <label for="menu_type_id">Имя маршрута Laravel:</label>

                <select id="menu_type_id" name="menu_type_id" class="form-control" v-model="form.menu_type_id"
                        @change="getParentsList">
                    <option :value="type.id" v-for="type in params.menuTypes">
                        {{ type.name }}
                    </option>
                </select>

                <div class="form-text text-muted" v-text="form.errors.get('menu_type_id')"></div>
            </div>

            <div class="form-group col-md-2">
                <label for="parent_id">Родительский пункт меню</label>

                <select id="parent_id" name="parent_id" class="form-control" v-model="form.parent_id">
                    <option value="0">Не выбрано</option>
                    <option :value="item.id" v-for="item in params.parentItems">
                        {{ item.name }}
                    </option>
                </select>

                <div class="form-text text-muted" v-text="form.errors.get('parent_id')"></div>
            </div>

            <div class="form-group col-md-2">
                <label for="published">Опубликовано</label>

                <select id="published" name="published" class="form-control" v-model="form.published">
                    <option :value="index" v-for="(published, key, index) in params.published">
                        {{ published }}
                    </option>
                </select>

                <div class="form-text text-muted" v-text="form.errors.get('published')"></div>
            </div>
        </div>

    </div>
</template>

<script>
    import Asset from 'Core/Asset'
    import Form from 'Core/Form'

    export default {

    }

</script>