<template>
    <div>
        <div class="alert alert-info">
            Использовавание внешнего url
        </div>
    </div>
</template>

<script>
    import Asset from 'Core/Asset'
    import Form from 'Core/Form'

    export default {

    }

</script>