<template>
    <div>
        <form @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Название</label>
                    <input id="name" type="text" class="form-control" v-model="form.name">
                    <div class="form-text text-muted" v-text="form.errors.get('name')"></div>
                </div>

                <div class="form-group col-md-2">
                    <label for="menu_type_id">Тип меню</label>

                    <select id="menu_type_id" name="menu_type_id" class="form-control" v-model="form.menu_type_id"
                            @change="getParentsList">
                        <option :value="type.id" v-for="type in params.menuTypes">
                            {{ type.name }}
                        </option>
                    </select>

                    <div class="form-text text-muted" v-text="form.errors.get('menu_type_id')"></div>
                </div>

                <div class="form-group col-md-2">
                    <label for="parent_id">Родительский пункт меню</label>

                    <select id="parent_id" name="parent_id" class="form-control" v-model="form.parent_id">
                        <option value="0">Не выбрано</option>
                        <option :value="item.id" v-for="item in params.parentItems">
                            {{ item.name }}
                        </option>
                    </select>

                    <div class="form-text text-muted" v-text="form.errors.get('parent_id')"></div>
                </div>

                <div class="form-group col-md-2">
                    <label for="published">Опубликовано</label>

                    <select id="published" name="published" class="form-control" v-model="form.published">
                        <option :value="index" v-for="(published, key, index) in params.published">
                            {{ published }}
                        </option>
                    </select>

                    <div class="form-text text-muted" v-text="form.errors.get('published')"></div>
                </div>
            </div>

            <keep-alive>
                <component :is="itemBy" :item="item"></component>
            </keep-alive>

            <input type="submit" class="btn btn-success" value="Сохранить" :disabled="form.errors.any()">
            <a href="#" @click.prevent="cancel" class="btn btn-light">Отменить</a>

            <a href="#" v-if="item.rest_destroy" @click.prevent="deleteItem"
               class="btn btn-danger pull-right">Удалить</a>
        </form>
    </div>
</template>

<script>
    import Asset from 'Core/Asset'
    import Form from 'Core/Form'

    import ItemByUrl from './ItemByUrl'
    import ItemByRouteName from './ItemByRouteName'
    import ItemByExtension from './ItemByExtension'

    export default {
        components: {
            ItemByUrl,
            ItemByRouteName,
            ItemByExtension
        },
        data() {
            return {
                form: new Form(),
                item: {
                    default: null,
                    type: Object
                },
                hasLoaded: {
                    default: false,
                    type: Boolean
                },
                params: {
                    menuTypes: {},
                    parentItems: {},
                    published: {
                        0: 'Нет',
                        1: 'Да'
                    }
                }
            }
        },

        props: {
            apiMethod: {
                default: 'put',
                type: String
            },
            apiUrl: {
                default: '',
                type: String
            },
            deleteUrl: {
                default: '',
                type: String
            }
        },

        beforeMount() {
            Asset.xhrResponseUrl('get', this.apiUrl)
                .then(response => {
                    this.item = response;
                    this.form = new Form(this.item);
                    this.hasLoaded = true;
                });

            Asset.xhrResponseUrl('get', '/admin/menu-types?format=json').then(response => {
                this.params.menuTypes = response;
                setTimeout(this.getParentsList(), 500);
            });

        },

        computed: {
            itemBy: function () {
                if(this.item.url){
                    return 'item-by-route-name'
                }

                if(this.item.route_name){
                    return 'item-by-route-name'
                }

                if(this.item.extension_id){
                    return 'item-by-extension'
                }
            }
        },

        methods: {
            onSubmit() {
                this.form.submit(this.apiMethod, this.item.rest_update)
                    .then((response) => {
                        this.form = new Form(response.data);
                    })
                    .catch(errors => {
                        flash(errors.message, 'error')
                    })
            },

            getParentsList(type) {
                type = this.form.menu_type_id ? this.form.menu_type_id : type;

                Asset.xhrResponseUrl('get', '/admin/menu?format=json&type=' + this.form.menu_type_id)
                    .then(response => {
                        this.params.parentItems = response;
                    });
            },
        },
    }
</script>

<style lang="scss">

</style>
