<template>
    <div>
        <div class="card-group mt-2" v-if="item">
            <div class="card card-withShadow card-hovered card-review">
                <div class="card-body">
                    <div class="card-review-header">
                        <star-rating
                                :rating="item.rating"
                                :read-only="true"
                                :star-size="15"
                                :show-rating="false"
                        > </star-rating>
                        <span class="card-review-header-name">
                            <b>{{ item.user_name }}</b> <span v-if="item.name ">- <i>{{ item.name }}</i></span>
                        </span>
                    </div>
                    <p class="card-text">{{ item.body }}</p>
                </div>
                <div class="card-footer">
                    Размещено: {{ item.created_at_for_human }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import StarRating from 'vue-star-rating'

    export default {
        props: {
            item: {
                default: null,
                type: Object
            }
        },

        components: {
            StarRating
        }
    }

</script>

<style scoped>
    .card-review .vue-star-rating{
        display: inline-block;
    }

    .card-review-header-name{
        line-height: 1;
    }
</style>