<template>
    <div>
        <form @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)" v-if="!success">
            <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label text-md-right">Email адрес</label>
                <div class="col-md-6">
                    <input id="email" type="email" name="email" class="form-control"
                           :class="form.errors.get('email') ? 'is-invalid' : ''"
                           v-model="form.email"
                           required
                           autofocus>
                    <small class="invalid-feedback" v-text="form.errors.get('email')" role="alert"></small>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-sm-4 col-form-label text-md-right">Пароль</label>
                <div class="col-md-6">
                    <input id="password" type="password" name="password" class="form-control"
                           :class="form.errors.get('password') ? 'is-invalid' : ''"
                           v-model="form.password"
                           required
                           autofocus>
                    <small class="invalid-feedback" v-text="form.errors.get('password')" role="alert"></small>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 offset-md-4">
                    <div class="form-check">
                        <input id="remember" name="remember"  class="form-check-input" type="checkbox" v-model="form.remember">
                        <label class="form-check-label" for="remember">Запомнить меня</label>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-0">
                <div class="col-md-8 offset-md-4">
                    <input type="submit" class="btn btn-success" value="Войти" :disabled="form.errors.any()">
                    <a class="btn btn-link" :href="resetPasswordUrl">Забыли пароль?</a>
                </div>
            </div>
        </form>
        <div v-else>
            <div class="alert alert-success">
                Добро пожаловать!
            </div>
        </div>
    </div>
</template>

<script>
    import FormMixin from 'Components/Mixins/FormMixin'
    import Form from 'Core/Form'

    export default {

        props: {
            resetPasswordUrl: {
                default: '/password/reset',
                type: String
            }
        },

        mixins: [
            FormMixin
        ],

        data() {
            return {
                form: new Form({
                    email: '',
                    password: '',
                    remember: false,
                }),

                authSuccess: false
            }
        },

        methods: {},
    }
</script>
