<template>
    <div>
        <div class="row no-gutters">
            <div class="col-md-10">
                <select v-model="period" :name="`price[${priceType}][period]`" class="form-control">
                    <template v-for="(item, index) in periods">
                        <option :value="index">{{ item }}</option>
                    </template>
                </select>
            </div>
            <div class="col-md-2">
                <a href="#" class="btn btn-success" @click.prevent="addPeriod()">
                    +
                </a>
            </div>
        </div>

    </div>
</template>

<script>
    import Asset from 'Core/Asset'
    import PricePeriodFrom from 'Components/Trade/Prices/Forms/PricePeriodFrom'
    import vSelect from 'vue-select'

    export default {

        components: {
            vSelect
        },

        data() {
            return {
                period: this.currentPeriod,
                periods: {}
            }
        },

        props: {
            currentPeriod: {
                default: 0,
                type: Number
            },
            priceType: {
                default: null,
                type: String
            }
        },

        beforeMount() {
            this.fetchPeriods();

            events.$on('setPeriod', period => {
                this.fetchPeriods();
                this.period = period;
            });
        },

        methods: {
            fetchPeriods() {
                Asset.xhrResponseUrl('get', `/api/trade/prices/periods/`)
                    .then(response => {
                        this.periods = response;
                    });
            },

            addPeriod() {
                this.getForm()
            },

            getForm(item = null) {
                this.$modal.show(PricePeriodFrom,
                    {
                        props: item
                    },
                    {
                        draggable: true,
                        scrollable: true,
                        height: 'auto',
                        width: 600
                    })
            },
        }
    }
</script>

<style lang="scss">
    /*@import "scss/style";*/
</style>
