.footer {
    color: $footer-color;
    background: $footer-bg;

    a{
        color: $footer-color;
        text-decoration: underline;
    }

    &-textSmall{
        font-size: .8rem;
    }

    &_menu{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        list-style: none;
        margin-left: -40px;
        flex-direction: column;

        li{
            align-self:auto;
        }
    }

    &_content{
        &-darken{
            background: $black;
        }
    }
}
