&_navbar {
    display: flex;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        list-style: none;
        margin-bottom: 0;
        margin-left: -40px;
        width: 100%;
        li {
            display: block;

            &.active{
                & > a {
                    color: $white;
                    text-shadow:0 0 10px $white;
                }
            }

            a {
                display: block;
                font-size: $header-navbar-font-size;
                color: lighten($header-bg-dark, 70);

                & > .fas {
                    font-size: .8rem;
                }
            }
        }
        .dropdown-menu {
            background-color: $header-bg-dark;
        }
    }
}
