.header {
    @import "_header_navbar.scss";
    &-dark {
        background-color: $header-bg-dark;
    }

    &_brand, &_brand > img {
        display: block;
        height: 70px;

        @include media-breakpoint-down(md) {
            max-height: 50px;
        }
    }

    &_top {
        color: $white;
        .phone {
            color: $white;
            font-size: 1.2rem;

            &-large {
                font-size: 2.25rem;
                color: $brand-secondary;
            }

            &:hover{
                text-decoration: none;
                color: $white;
            }
        }
    }

    &_phone {
        position: relative;
        padding-left: 35px;

        &_menuToggle {
            background: $green;
        }

        &-small {
            font-size: .8rem;
        }

        &-large {
            font-size: 1.31rem;
            font-weight: bold;
        }

        &::before {
            display: block;
            position: absolute;
            content: "";
            top: -5px;
            background: url("../../../images/template/icons/phone.svg");
            width: 30px;
            height: 30px;
        }
    }

    &_menuToggle {
        background: $black;
        color: white !important;
        --mb-bar-height: 2px;
        --mb-bar-spacing: 5px;
        --mb-button-size: 50px;
    }
}
