<template>
    <div class="row files">
        <nav class="nav flex-column" style="width: 100%">
            <div class="nav-link file draggable" v-for="(file, index) in files" :key="file.id">
                <div class="row no-gutters align-items-center">
                    <div class="col-1">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div>
                    <div class="col-1">
                        <a href="#" @click.prevent="openModal(index)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-2" v-if="file.thumb">
                        <img class="img-fluid" v-if="file.thumb" :src="file.thumb" :alt="file.original_name" style="max-width: inherit">
                    </div>
                    <div class="col-7 file_name " :class="file.thumb ? 'col-7': 'col-9'" >
                        <a href="#" class="ml-2" @click.prevent="openModal(index)">
                            {{file.original_name}}
                        </a>
                    </div>
                    <div class="col-1">
                        <a v-if="file.delete" :href="file.delete" class="btn btn-outline-danger btn-sm fa fa-trash"
                           @click.prevent="deleteFile($event, index)">

                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <modal name="file-edit" height="auto" :adaptive="true" :pivotY="0.15" :draggable="true" :maxWidth="1000"
               :scrollable="true">
            <component :is="editFileForm" :file="editableFile" :additionalAttributes="attribs"></component>
        </modal>
    </div>

</template>

<script>
    import Asset from 'Core/Asset'
    import FileEditPhoto from './FileEditPhoto'

    export default {

        components: {
            'file-edit-photo': FileEditPhoto
        },

        data() {
            return {
                editableFile: {},
                files: {},
                editFileForm: 'file-edit-photo',
                attribs: {}
            }
        },

        props: {
            url: {
                default: '',
                type: String
            },
            deleteUrl: {
                default: '',
                type: String
            },
            additionalAttributes: {
                default: null,
                type: String
            },
            countsOnRow: {
                default: 3,
                type: Number
            }
        },

        created() {
            this.getFiles();

            events.$on('file-list:update', status => this.getFiles(status));
            this.attribs = JSON.parse(this.additionalAttributes);
        },

        beforeMount() {
            this.getFiles();
        },

        methods: {

            isPublished(index) {
                return this.files[index].published;
            },

            openModal(index) {
                this.editableFile = this.files[index];
                this.$modal.show('file-edit', {
                    title: this.editableFile.name,
                });
            },

            getFiles() {
                Asset.xhrResponseUrl('get', this.url).then((response) => {
                    this.files = response
                })
            },

            deleteFile(event, index) {
                events.$emit('file-list:delete');

                Asset.xhrResponseUrl('delete', event.target.href)
                    .then((response) => {
                        this.files.splice(index, 1);
                        flash(response.message, 'info');
                    })
            }
        }
    }
</script>

<style lang="scss" scoped>
    $red: #dc3545 !default;

    .published {
        opacity: 1 !important;
    }

    .file {
        position: relative;
        border-bottom: 1px solid #dadada;

        &_name {
            font-size: .8rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .fa-ellipsis-v {
            cursor: move;
            cursor: grab;

            &:active {
                cursor: grabbing;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
            }
        }

        &:hover {
            opacity: 1;
        }
        &_delete {
            display: block;
            position: absolute;
            background-color: $red;
            top: 0;
            right: 0;
            border-radius: 50%;
            line-height: 1;
            color: #fff;
            font-size: 26px;
            padding: 0 5px;

            &:hover {
                text-decoration: none;
            }
        }
    }
</style>
