&_about-brand{
    .card{
        //background-image:
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center top;
    }

    .brand{
        padding: 1rem;

        @include media-breakpoint-down(lg) {
            padding: 0;
        }

        &_image{
            img{
                width: 60px;
                height: 75px;
            }
        }
        &_name{
            font-size: 2.25rem;
            padding: 0 1rem;

            @include media-breakpoint-down(lg) {
                font-size: 1.5rem;
            }
        }

        &_text{
            font-size: 1.2rem;

            @include media-breakpoint-down(lg) {
                font-size: 1rem;
                line-height: 1.3;
            }
        }

        &_builder{
            position: relative;
            max-width: 160px;

            @include media-breakpoint-down(lg) {
                max-width: 120px;

            }

            @include media-breakpoint-down(md) {

            }
        }


    }
}
