$section: &;

&_about {
    h3 {
        font-size: 1.5rem;
        color: $text-color;
    }

    &_text {
        font-size: 1.31rem;

        @include media-breakpoint-down(md) {
            font-size: 1.5rem;
        }
    }
}
