.section {
    &_title {
        font-weight: normal;
        color: $gray-800;
        text-align: center;
        font-size: 3rem;
        margin: 1rem 0 .5rem 0;

        @include media-breakpoint-down(sm) {
            font-size: 1.8rem;
        }

        &-primary {
            color: $primary;
        }

        &-uppercase {
            text-transform: uppercase;
        }

        &-underline {
            &::after {
                display: block;
                position: absolute;
                background-color: $primary;
                content: '';
                margin: 1rem auto;
                left: 0;
                right: 0;
                width: 40%;
                height: 1px;
            }

            & + .section_description {
                margin-top: 2rem;
            }
        }
    }


    &_icon {
        position: absolute;
        background-color: $yellow;
        border-radius: 50%;
        font-size: 26px;
        margin: 0 auto;
        text-align: center;
        z-index: 9999;
        width: 50px;
        left: 0;
        right: 0;
        padding: 5px 0;
        margin-top: -25px;
        color: $white;
        @include box-shadow(0 5px 23px 0 transparentize($yellow, .2));
    }

    &_description {
        font-size: 1.125rem;
        color: $gray-600;
    }

    &-gray {
        background-color: $gray-100;
    }

    &_divider {
        display: flex;
        position: relative;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-size: 1.2rem;
        color: $gray-400;
        background-color: $white;

        &_title{
            z-index: 9;
            background: $white;
            padding-right: .5em;
        }

        &::before {
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            content: "";
            bottom: 50%;
            border-bottom: 1px solid $gray-400;
        }

        &::after {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            content: "";
            margin-top: 5px;
            bottom: 38%;
            background: $white;
            border: 1px solid $gray-400;
            border-radius: 50%;
            right: 0;
        }
    }

    @import "about";
    @import "about-brand";
    @import "consultants";
    @import "reviews";
    @import "roods";
    @import "special-machinery";

    @import "feedback";
    //@import "aboutServicesCards";
    //@import "advantagesFiberglass";
    //@import "applicationArea";
    //@import "advantagesWovenMeshFiberglass";
    //@import "feedback";
    //@import "aboutProductsCards";
    //@import "aboutProductsPrice";
    //@import "productCalc";
    //@import "orderLawnLaying";
    //@import "productPhotoGallery";


}
