<template>
    <form class="form">
        <div class="form-row">
            <div class="form-group col-md-3" v-if="buildFormData">
                <label>Расположение</label>
                <multiselect
                        v-model="form.locality"
                        :options="buildFormData.fields.locality"
                        track-by="id"
                        label="name"
                        @close="onSubmit"
                ></multiselect>
            </div>

            <div class="form-group col-md-auto" v-if="buildFormData.fields.metro">
                <label>Станция метро</label>
                <multiselect
                        v-model="form.metro"
                        :options="buildFormData.fields.metro"
                        track-by="name"
                        label="name"
                ></multiselect>
            </div>

            <b-form-group label="Комнат">
                <b-form-radio-group
                        id="btn-radios-2"
                        v-model="form.rooms"
                        :options="buildFormData.fields.rooms"
                        buttons
                        button-variant="outline-primary"
                        name="radio-btn-outline"
                ></b-form-radio-group>
            </b-form-group>

            <div class="form-group col-md-2">
                <label>Стоимость, руб</label>
                <form-inline-group>
                    <form-input-group
                            v-model="form.costs.from"
                            type="text"
                            :placeholder="minCost"
                            :label=null
                            :asColumn="true"
                    ></form-input-group>
                    <form-input-group
                            v-model="form.costs.to"
                            type="text"
                            :placeholder="maxCost"
                            :label=null
                            :asColumn="true"
                    ></form-input-group>
                </form-inline-group>
            </div>

            <div class="form-group col-md-2">
                <label>Площадь, м²</label>
                <form-inline-group>
                    <form-input-group
                            v-model="form.costs.from"
                            type="text"
                            :placeholder="minCost"
                            :label=null
                            :asColumn="true"
                    ></form-input-group>
                    <form-input-group
                            v-model="form.costs.to"
                            type="text"
                            :placeholder="maxCost"
                            :label=null
                            :asColumn="true"
                    ></form-input-group>
                </form-inline-group>
            </div>
        </div>

        <div class="form-row">

            <b-form-group label="Этаж">
                <multiselect
                        v-model="form.floors"
                        :options="buildFormData.fields.floors"
                        @close="onSubmit"
                ></multiselect>
            </b-form-group>

            <b-form-group label="Проект">
                <multiselect
                        v-model="form.buildingType"
                        :options="buildFormData.fields.buildingTypes"
                        track-by="id"
                        label="name"
                        @close="onSubmit"
                ></multiselect>
            </b-form-group>

            <form-inline-group>
                <form-input-group
                        v-model="form.buildingAge"
                        type="text"
                        label="Возраст до"
                ></form-input-group>
            </form-inline-group>

            <b-form-group label="Ипотека">
                <b-form-checkbox v-model="form.isMortgage"
                                 name="check-button" switch>
                </b-form-checkbox>
            </b-form-group>
            <b-form-group label="Только с фото">
                <b-form-checkbox v-model="form.withPhotoOnly"
                                 name="check-button" switch>
                </b-form-checkbox>
            </b-form-group>
        </div>
    </form>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import Form from "Core/Form";
    import FormInlineGroup from 'Components/MXTCore/Components/Forms/FormInlineGroup.vue'
    import FormInputGroup from 'Components/MXTCore/Components/Forms/FormInputGroup.vue'
    import FiltersFormMixin from '../Mixins/FiltersFormMixin'

    export default {
        mixins: [
            FiltersFormMixin
        ],
        components: {
            Multiselect,
            FormInlineGroup,
            FormInputGroup
        },
        data(){
            return {
                form: new Form({
                    locality: 1,
                    metro: null,
                    rooms: null,
                    floors: null,
                    buildingType: null,
                    buildingAge: null,
                    isMortgage: null,
                    withPhotoOnly: null,
                    costs: {
                        from: 0,
                        to: 0
                    }
                })
            }
        },
        props: {
            buildFormData: null,
        },
        updated(){
            // this.onSubmit();
        }
    }
</script>