&_gallery {
    display: flex;

    @include media-breakpoint-down(md) {
        display: block;
    }

    swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        //background-size: cover;
        //background-position: center;
    }
    .gallery-top {
        height: 100%;
        border-radius: $border-radius;
    }
    .gallery-thumbs {
        width: 150px;
        height: 460px;
        border-radius: $border-radius;

        @include media-breakpoint-down(md) {
            width: 100%;
            height: 150px;
        }

        .swiper-slide {
            height: 100%;
            width: 200px;
            border-radius: $border-radius;
            opacity: 0.4;
        }

        .sliderNavigators {
            & > .next {
                border-radius: 0 !important;
            }
            & > .prev {
                border-radius: 0 !important;
            }
            &-inWrapper {
                display: flex;
                position: static;
                width: 100%;
                & > .prev,
                & > .next {
                    width: 100%;
                    border: 1px solid $border-color;
                    padding: 0.2rem 0;
                    i {
                        padding: .2rem;
                    }
                }
                & > .prev {
                    top: 0;
                }
                & > .next {
                    bottom: 0;
                }
            }
        }

    }
    .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;
    }
}
