<template>
    <div>
        <div>
            <form @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Название</label>
                        <input id="name" type="text" class="form-control" v-model="form.name">
                        <div class="form-text text-muted" v-text="form.errors.get('name')"></div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="slug">Псевдоним</label>
                        <input id="slug" type="text" class="form-control" v-model="form.slug">
                        <div class="form-text text-muted" v-text="form.errors.get('slug')"></div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="published">Опубликовано</label>

                        <select id="published" name="published" class="form-control" v-model="form.published">
                            <option :value="index" v-for="(published, key, index) in params.published">
                                {{ published }}
                            </option>
                        </select>

                        <div class="form-text text-muted" v-text="form.errors.get('published')"></div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="note">Описание секции</label>

                        <tinymce v-model="form.description" name="description">
                            {{ form.description}}
                        </tinymce>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="note">Комментарий к секции</label>
                        <textarea id="note" name="note" v-model="form.note" v-html="form.note" class="form-control"
                                  rows="10"></textarea>
                    </div>
                </div>

                <section-attributes v-model="form.attribs"></section-attributes>

                <input type="submit" class="btn btn-success" value="Сохранить" :disabled="form.errors.any()">
                <a href="#" @click.prevent="cancel" class="btn btn-light">Отменить</a>

                <a href="#" v-if="item.rest_destroy" @click.prevent="deleteItem" class="btn btn-danger pull-right">
                    Удалить
                </a>
            </form>
        </div>
    </div>
</template>

<script>
    import Form from 'Core/Form'
    import DashboardFromMixin from 'Components/Dashboard/Mixins/DashboardFormMixin'
    import SectionAttributes from './SectionAttributesForm'

    export default {

        components: {
            SectionAttributes
        },

        mixins: [
            DashboardFromMixin
        ],

        props: {},

        data() {
            return {
                form: new Form({
                    name: '',
                    slug: '',
                    published: 1,
                    description: '',
                    attribs: ''
                }),
            }
        }
    }

</script>