<template>
    <div>
        <div class="form-row align-items-center my-1" v-for="(attribute, index) in attribs">
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Свойство</div>
                    </div>
                    <input type="text" v-model="attribute.name" :name="`${field}[${index}][name]`" class="form-control">
                </div>
            </div>
            <div class="col-sm-8">
                <input type="text" v-model="attribute.value" :name="`${field}[${index}][value]`" class="form-control">
            </div>
            <div class="col-sm-1">
                <a href="#" @click.prevent="removeAttribute(index)" style="cursor: pointer">X</a>
            </div>
        </div>
        <span class="btn btn-default" @click="addAttribute">(+) Добавить свойство</span>
    </div>

</template>

<script>
    export default {
        props: ['field', 'rows'],

        data() {
            return {
                attribs: [],
            }
        },

        created(){
            if(JSON.parse(this.rows) !== null){
                this.attribs = JSON.parse(this.rows)
            }
        },

        updated(){
            this.$emit('input', this.attribs)
        },

        methods: {
            addAttribute: function() {
                this.attribs.push({
                    name: "",
                    value: "",
                });
            },

            removeAttribute: function(index) {
                this.attribs.splice(index, 1);
            },
        }
    }
</script>
