<template>
    <div class="card card-withShadow card-sticky card-sticky-top-0 bg-light card-feedback-form mb-4">
        <form @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">
            <div class="card-body">
                <h3 class="card-title">
                    <div class="card-title-size-5">Нужна</div>
                    <div class="card-title-size-4">консультация?</div>
                </h3>
                <div class="form-group">
                    <label class="sr-only">Номер телефона</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-phone"></i></div>
                        </div>
                        <masked-input v-model="form.phone"
                                      mask="\+\7 (111) 111-11-11"
                                      :class="inputClass('phone')"
                                      type="tel"
                                      placeholder="Укажите номер телефона"/>
                    </div>
                </div>

                <div class="form-group card-feedback-form_disclaimer">
                    Подробно расскажем о наших услугах, видах работ и типовых проектах,
                    рассчитаем стоимость и подготовим индивидуальное предложение!
                </div>

                <input type="submit" class="btn btn-success btn-block" :disabled="form.errors.any()"
                       value="Оставить заявку">
            </div>
        </form>
    </div>
</template>

<script>
    import Form from 'Core/Form'
    import FormMixin from 'Components/Mixins/FormMixin'
    import MaskedInput from 'vue-masked-input'

    export default {
        mixins: [
            FormMixin,
        ],
        components: {
            MaskedInput
        },
        data() {
            return {
                form: new Form({
                    phone: '',
                }),
            }
        },
        methods: {
            onSubmit() {
                if (!this.actionUrl) {
                    flash('Необходимо указать actionUrl', 'error');
                    return;
                }

                this.form.submit(this.sendMethod.toLowerCase(), this.actionUrl)
                    .then((response) => {
                        flash(response.data);
                    })
                    .catch(errors => {
                        flash(errors.message, 'error');
                    })
            },
        }
    }
</script>
